
body{
  background-color: rgb(46, 44, 44);
}

.Nav{
  background-color: bisque;
  border: 2px solid red;
  text-align: center;
}

.Nav a{
  padding: 12px;
  font-size: 20px;
  text-decoration: none;
  
}